html{
    background: black;
}

#theDiv{
    margin-left: 20%;
    width: 60%;
    height: 80%;
}

img{
    border: solid 5px white;

    width: 100%;
}

h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: Libre Baskerville;

    color: white;
}

p{
    text-align: center;

    color: white;
}

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> */
